*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    gap: 60px;
    background-color: rgba(105, 105, 105, 0.733);
    padding: 3%;
}

cv-photo {
    max-width: 100%;
    height: auto;
    display: block;
}

p {
    text-indent: 20px; 
    text-align: justify;
}

h2 {
    display: flex;
    justify-content: center;
}

.about {
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    gap: 60px;
    background-color: rgba(105, 105, 105, 0.733);
    padding: 3%;
}

.skills {
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    gap: 60px;
    background-color: rgba(105, 105, 105, 0.733);
    padding: 3%;
}

.codeex {
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    gap: 60px;
    background-color: rgba(105, 105, 105, 0.733);
    padding: 3%;
}